::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

div.main-div {
    height: 100vh;
}

div.box-container {
    height: 100%;
    padding: 8px;
}

div.box {
    height: 100%;
    margin: 0 6px;
    padding: 0 10px;
    background: #1199ff;
    overflow-y: auto;
    border-radius: 20px;
}

div.card {
    margin: 12px 0;
    height: max-content;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

div.card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.2s;

}

div.card:active {
    transition: 0.2s;
    box-shadow: 0 0 10px #999;
}

div.applicant-detail {
    width: 100%;
    display: block;
}

div.detail-line {
    margin: 4px 0 0;
}

div.tags-container {
    margin: 10px 0;
}

div.progress-bar-container {
    text-align: center;
    position: relative;
}

.react-sweet-progress-circle-outer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60% !important;
    font-size: 1.2vw !important;
    margin: auto;
}

div.job-desc {
    width: 100%;
    display: block;
    //margin: 0 0 5px;
}

div.float{
	height:80px;
    width:80px;
    position: absolute;
	right:40px;
	bottom:20px;
    margin: 20px auto;
    display: flex;
	text-align:center;
    align-items: center;
    justify-content: center;
	color:#1199ff;
	background:#FFF;
    transition: 0.3s;
	border-radius:50px;
    box-shadow: 0 0 10px #999;
}

div.float:hover {
    transition: 0.2s;
    box-shadow: 0 0 20px #999;
}

div.float:active {
    transition: 0.2s;
    box-shadow: 0 0 10px #999;
}

div.search-div {
    width: 60%;
    
    margin: 12px auto 0;
}

.loading-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 50px;
    width: 50px;
    margin: 0;
    border-radius: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #1199ff;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite; /* Safari */
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.float-action-button {
    width: 30px;
    height: 30px;
    margin: 25px;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

.inline-block {
    display: inline-block;
}

.exp-arrow-div {
    margin: 15px 0 10px;
    height: fit-content;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    transition: 0.5s;
}

.exp-arrow-div:hover {
    transition: 0.5s;
    color: #1199ff !important;
}

.modal-content-container {
    display: flex;
    width: 60%;
    height: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
}