::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

div.main-div {
    height: 100vh;
}

div.box-container {
    height: 100%;
    padding: 8px;
}

div.box {
    height: 100%;
    margin: 0 6px;
    padding: 0 10px;
    background: #1199ff;
    overflow-y: auto;
}

div.card {
    margin: 12px 0;
    height: max-content;
    border-radius: 16px;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

div.card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

div.applicant-detail {
    width: 100%;
    display: block;
}

div.job-desc {
    width: 100%;
    display: block;
}

div.float{
    display: flex;
	width:80px;
	height:80px;
    margin: 20px;
	margin-left: 50%;
	color:#1199ff;
	background:#FFF;
	border-radius:50px;
	text-align:center;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.3s;
	//box-shadow: 0px 0px 10px #999;
}

div.float:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    //box-shadow: 0px 0px 20px #999;
}